body {
    background: #F6F6FA;
    padding: 40px 40px 40px 40px;
    font-family: "Montserrat", sans-serif;
}
ul,ol {
    margin-top: 0;
    margin-bottom: 0;
}

.wrapper {
    background: #FFFFFF;
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}
/* Main content */
.main-content {
    padding-left: 88px;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 80px;
    box-sizing: border-box;
}
/* Sidebar */
.sidebar {
    background: #85b8a2;  
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 370px; 
}
 
.sidebar-content {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

/* Contacts */
.contacts-title {
font-weight: 700;
font-size: 22px;
line-height: normal;
color: #161d2a;
margin-top: 0;
margin-bottom: 8px;
}

.contacts-type {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #161d2a;
    margin-right: 8px;
}

.contacts-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #2979ff;
    text-decoration: underline;

}
.contacts-item {
    margin-top: 0;
    margin-bottom: 4px;
}
.contacts-container {
    margin-bottom: 40px;
}
/* Tech Skills */
.skills-container {
    margin-bottom: 40px;
}
.skill-title {
    font-weight: 700;
    font-size: 22px;
    color: #161d2a;
    margin-bottom: 8px;  
    margin-top: 0;
}
.skills-list {
    padding-left: 16px;
}
.skills-list-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #161d2a;
}
/* Soft Skills */
.soft-skills-container {
    margin-bottom: 40px;
}
.soft-skills-title {
    font-weight: 700;
    font-size: 22px;
    color: #161d2a; 
    margin-top: 0;  
    margin-bottom: 40px;
}
.soft-skills-list {
    padding-left: 16px;
}
.soft-skills-list-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #161d2a;
}
/* Main Content */

.my-profession {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-top: 0;
    margin-bottom: 8px;
}
.my-name {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin-bottom: 12px; 
    margin-top: 0;
}

.my-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;   
}

.my-info {
    margin-bottom: 40px;
}

/* My Projects */
.projects-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000; 
    margin-top: 0;  
    margin-bottom: 8px; 
}
.projects-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

.projects-list{
    padding-left:  16px;
}

.projects-item-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    color: #005fff;    
}

.projects-item-tech {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;   
}
.projects-container {
    margin-bottom: 40px;
}
/* Work Experience */
.work-experience-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000;  
    margin-top: 0;
    margin-bottom: 8px; 
}

.work-experience-company {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000;   
    margin-bottom: 12px ;
}
.company-name {
    color: #6d9bf5;   
}
.work-experience-period {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;   
    margin-bottom: 8px;
}
.work-experience-period-separator{
    color: #000;    
}
.duties-list {
    padding-left: 16px;
}
.work-experience-duties-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;   
}
.work-experience-container{
    margin-bottom: 12px;
}
.experience-container {
    margin-bottom: 40px;
}
/* Education */
.education-title {
    font-weight: 700;
    font-size: 22px;
    color: #000; 
    line-height: 27px; 
    margin-bottom: 8px; 
}
.education-institution {
    font-weight: 700;
    font-size: 16px;
    color: #6d9bf5;  
    margin-bottom: 8px; 
}
.education-direction {
    font-weight: 700;
    font-size: 14px;
    color: #000;    
}
.education-period {
    font-weight: 400;
    font-size: 12px;
    color: #a8a8a8;    
}
.education-period-separator {
    color: #000;   
}


