/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  color: #878686;
  line-height: 1.6;
  margin: 30px;
}

.container {
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: flex-start; /* Align items to the top */
  width: 100%;
  max-width: 210mm; /* A4 size */
  height: auto;
  margin: 0 auto;
  padding: 10mm;
  background-color: #f4f4f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Sidebar */
.sidebar {
  width: 265px;
  background-color: #e8e7e7;
  padding: 20px;
  margin-right: 15px;
  flex-shrink: 0;
}

.sidebar-photo {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 15px;
}

.sidebar-info {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar-name {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}

.sidebar-role {
  font-size: 20px;
  color: #656d75;
  margin-bottom: 10px;
}

.sidebar-contact h3,
.sidebar-skills h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #656d75;
}

.sidebar-contact ul,
.sidebar-skills ul {
  list-style: none;
  padding-left: 0;
}

.sidebar-contact li,
.sidebar-skills li {
  font-size: 14px;
  margin-bottom: 8px;
}

.sidebar-contact a,
.sidebar-skills a {
  color: #3f3e3e;
  text-decoration: none;
}

.sidebar-contact a:hover,
.sidebar-skills a:hover {
  text-decoration: underline;
}

/* Main Content */
.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #e8e7e7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #656d75;
  border-bottom: 2px solid #575757;
}

h1 {
  font-size: 32px;
  border-bottom: 2px solid #575757;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 15px;
}

h2::before {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: #575757;
}

h3 {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 10px;
  color: #656d75;
}

p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #555;
}

.project,
.school {
  padding: 15px;
  margin-bottom: 20px;
  border-left: 4px solid #afb0b1;
  background-color: #f8f9fa;
  border-radius: 8px;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.project:hover,
.school:hover {
  transform: scale(1.02);
  background-color: #e8eaec;
}

.project a,
.school h3 {
  color: #656d75;
  text-decoration: none;
}

.project a:hover,
.school h3:hover {
  color: #4e545a;
}

.project-description,
.school .degree,
.school .period {
  color: #333;
  font-size: 0.95rem;
  margin-bottom: 10px;
}
.project-details {
  font-size: 15px;
  font-style: italic;
  color: #c7c6c6;
}

.school .period {
  font-size: 0.9rem;
  color: #d4d1d1;
}

/* Sidebar Skills */
.sidebar-skills {
  margin-bottom: 20px;
}

.sidebar-skills h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #656d75;
  padding-bottom: 5px;
}

.sidebar-skills ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-skills ul li {
  font-size: 14px;
  color: #656d75;
  margin-bottom: 8px;
  background-color: #f8f9fa;
  padding: 5px 10px;
  border-radius: 8px;
  display: inline-block;
  width: auto;
  transition: transform 0.2s ease, background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-skills ul li:hover {
  transform: scale(1.05);
  background-color: #a5a7a8;
  color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10mm;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .main-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 100%;
    text-align: center;
  }

  .sidebar-photo {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
  }

  .sidebar-name {
    font-size: 18px;
  }

  .sidebar-role {
    font-size: 14px;
  }

  .main-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.project-title {
  font-size: 16px;
  font-weight: 600;
  border: none;
}
.project-link:hover {
  text-decoration: underline;
}
